<!DOCTYPE html>
<html lang="en">

<%- include('../components/head.html.ejs', {sectionTitle: 'accueil' }) %>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G7PT7K" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <%- include('../components/header.html.ejs') %>
            <main>
                <section id="description-cabinet">
                    <h1 style="
                font-weight: normal;
                font-size: 20px;
                letter-spacing: 7px;
                text-transform: uppercase;
                line-height: 1.4em;
                margin-bottom: 3em;
            ">
                        <span><strong style="
                    padding: 0 0.1em 0 0.4em;
                    font-weight: bold;
                    background-color: white;
                ">Contactez</strong></span>
                        <br>
                        <span style="
                margin-left: 4em;">le cabinet</span>
                    </h1>

                    <p>
                        <address>Zoé Pohin, Avocate à la Cour
                            <br>
                            7 rue Brunel
                            <br>
                            75017 Paris
                        </address>
                    </p>
                    <p>
                        <address style="font-size: 1.2em;"><strong><i class="fa-solid fa-phone"></i> <a
                                    href="tel:+33179353199">01 79 35 31 99</a></strong></address>
                    </p>
                    <p>
                        <a class="contact-email">%contact-email%</a>
                    </p>
                    <p>Pour obtenir gratuitement un <strong>devis</strong> ou un <strong>conseil</strong> :</p>
                    <br>
                    <form id="contact-form" class="kwes-form" lang="fr" style="display: grid;
                        grid-template-columns: 1fr 1fr; gap:0.5em;"
                        action="https://kwesforms.com/api/foreign/forms/yUlxXceKLfMr7FRIpjfF">
                        <input name="nom" type="text" style="grid-column: span 2;" placeholder="Votre nom">
                        <input name="email" type="email" style="grid-column: span 1;" placeholder="Votre email">
                        <input name="téléphone" type="tel" style="grid-column: span 1;"
                            placeholder="Votre numéro de téléphone">
                        <textarea name="message" required style="grid-column: span 2;" rows="10"
                            placeholder="Votre message *"></textarea>
                        <p style="grid-column: span 2;text-align: end;"><button type="submit"
                                class="cta-button"><span>envoyer</span></button>
                        </p>
                    </form>
                </section>
                <img id="photo-cabinet" style="width:100%;" src="<%- rootPath %>resources/zoe_pohin_au_tribunal.jpg"
                    alt="Zoé pohin dans les couloirs du tribunal">
            </main>
            <%- include('../components/footer.html.ejs') %>
    </body>
    <script src="https://kwesforms.com/v2/kwes-script.js" defer></script>
    <style>
        .info-utile {
            border-left: solid 1px #000;
            padding-left: 1em;
        }

        #description-cabinet {
            grid-column: 1 / 6;
            grid-row: 1 / 6;
        }

        #photo-cabinet {
            grid-column: 8/12;
            grid-row: 1/4;
        }

        #cta-contact {
            grid-column: 7/13;
        }

        @media (max-width: 750px) {

            #description-cabinet {
                grid-column: span 12;
                grid-row: 1;
            }

            #photo-cabinet {
                grid-column: span 12;
                grid-row: 3;
            }

            #cta-contact {
                grid-column: span 12;
                grid-row: 2;
            }
        }

        /* formulaire de contact */
        #contact-form input,
        #contact-form textarea {
            border-radius: 0;
            border: 1px solid #707070;
            padding: 1em;
            font-family: 'Open Sans', sans-serif;
        }

        #contact-form input::placeholder,
        #contact-form textarea::placeholder {
            color: #BCBCBC;
            font-style: italic;
        }

        .kw-field-error-message {
            display: none;
        }

        .kw-alert {
            grid-column: span 2;
            grid-row: 5;
            width: initial;
        }

        @media (max-width: 750px) {
            #contact-form input {
                grid-column: span 2 !important;
            }
        }
    </style>

</html>