<!DOCTYPE html>
<html lang="en">

<%- include('../components/head.html.ejs', {sectionTitle: 'accueil' }) %>

    <body>

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G7PT7K" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <%- include('../components/header.html.ejs') %>
            <main>
                <div class="titre-page">
                    <h1>
                        <span>Les <strong>décisions</strong></span>
                        <br>
                        <strong>du cabinet</strong>
                    </h1>
                </div>
                <header class="illustration-page" style="background-image: url('resources/decision-justice.jpg');">

                </header>
                <p style="grid-column: span 12; margin-top: 1em;"><strong><br>Maître Pohin se déplace partout en France pour assurer la défense des automobilistes, quels que soient les problématiques auxquelles ils sont confrontés.</strong></p>
                <div style="grid-column: span 12; height: 2em;"></div>
                <% décisionsBlogArticles.forEach(décisionsBlogArticle=> { %>
                    <article class="decision">
                        <h1>
                            <%= décisionsBlogArticle.title %>
                        </h1>
                        <p>
                            <%= décisionsBlogArticle.html.replace(/(<([^>]+)>)/gi,
                                "").match(/((\s*\S+){30})([\s\S]*)/)[1] + "..." %>
                        </p>
                        <a class="voir-plus" href="<%- rootPath + décisionsBlogArticle.filePath %>">+</a>
                    </article>
                    <% }) %>
                        <div class="signature">
                            <strong>Zoé Pohin</strong>
                            <br>
                            <em>avocate du droit routier.</em>
                        </div>
                        <p class="cta-contact" style="text-align: center; margin: 5em 0 0 0"><a
                                href="<%- rootPath %>contact.html" class="cta-button"><span>Contacter le
                                cabinet</span></a></p>
            </main>
            <%- include('../components/footer.html.ejs') %>
    </body>
    <style>
        .decision {
            grid-column: span 3;
            border: solid 1px #000;
            padding: 1.5em 1.5em 2.5em 1.5em;
            position: relative;
        }

        .decision h1 {
            font-weight: bold;
        }

        .decision p {
            font-size: 0.8em;
        }

        .decision a {
            background-color: #000;
            position: absolute;
            right: 0;
            bottom: 0;
            color: #fff;
            padding: 0.1em 0.3em;
            font-size: 1.5em;
        }


        @media (max-width: 750px) {
            .decision {
                grid-column: span 6;
            }
        }


        @media (max-width: 400px) {
            .decision {
                grid-column: span 12;
            }
        }

        .signature {
            grid-column: 7 / span 3;
            grid-row: 5;
            padding: 1em;
            position: relative;
            font-size: 1.7em;
        }

        .signature strong {
            font-family: 'Garamond';
            font-style: italic;
            font-weight: lighter;
        }

        .signature em {
            font-weight: bold;
            font-family: 'Georgia';
        }

        @media (max-width: 750px) {
            .signature {
                grid-column: span 6;
            }
        }


        @media (max-width: 400px) {
            .signature {
                grid-column: span 12;
            }
        }

        .cta-contact {
            grid-column: span 12;
        }
    </style>

</html>