<!DOCTYPE html>
<html lang="en">

<%- include('../components/head.html.ejs', {sectionTitle: 'accueil' }) %>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G7PT7K" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <%- include('../components/header.html.ejs') %>
            <main>
                <div class="titre-page">
                    <h1>
                        <span>LA <strong>Foire aux questions</strong></span>
                        <br>
                        <strong>du cabinet</strong>
                    </h1>
                </div>
                <header class="illustration-page" style="background-image: url('resources/FAQ-zoe-pohin-avocate.jpg');">

                </header>
                <div style="grid-column: span 12; display:flex;">
                    <div>
                        <p style="margin-right: 2em;"><i class="fa-solid fa-filter"></i></p>
                    </div>
                    <div>
                        <p style="color:#ccc"><em>Rechercher par thèmes :</em></p>
                        <p>
                            <% let themeIndex=0; let checkedDisplayedThemes = [] %>
                                <% faqThemesWithQuestions.forEach((questionsReponsesFaq, theme)=> { %>
                                    <% if(themeIndex === 0){checkedDisplayedThemes.push(theme)}%>
                                    <% const themeId=`theme-${themeIndex}` %>
                                        <span class="question-filter">
                                            <input type="checkbox" id="<%= themeId %>" name="<%= theme %>" <%- checkedDisplayedThemes.includes(theme) ? 'checked':''%>>
                                            <label for="<%= themeId %>">
                                                <%= theme %>
                                            </label>
                                        </span>
                                        <% themeIndex++ %>
                                        <% }) %>
                        </p>
                    </div>
                </div>

                </div>
                <dl style="grid-column: span 12;">
                    <% faqThemesWithQuestions.forEach((questionsReponsesFaq, theme)=> { %>
                        <% questionsReponsesFaq.forEach((questionReponseFaq)=> { %>
                            <dt class="question <%- !checkedDisplayedThemes.includes(theme) ? 'not-displayed' :'' %>" data-theme="<%= theme %>">
                                <div class="question-expand-indicator"></div>
                                <span>
                                    <%= questionReponseFaq.question %>
                                </span>
                            </dt>
                            <dd class="reponse" data-theme="<%= theme %>">
                                <p><%- questionReponseFaq.reponseHtml %></p>
                            </dd>
                            <% }) %>
                                <% }) %>
                </dl>
            </main>
            <%- include('../components/footer.html.ejs') %>
    </body>
    <style>
        .question {
            background-color: #f0f0f0;
            padding: 0.6em;
            font-weight: bold;
            cursor: pointer;
            margin-top: 0.6em;
            display: flex;
        }

        .reponse {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-in-out;
        }

        .reponse p {
            margin: 1.8em;
        }

        .question-expand-indicator:before {
            font-size: 1.5em;
            background-color: #000;
            color: #fff;
            text-align: center;
            height: 1em;
            width: 1em;
            display: inline-block;
            margin: -3px 6px -3px -3px;
            font-weight: normal;
            content: "+";
        }

        .question.is-open .question-expand-indicator:before {
            content: "-";
        }

        .question-filter {
            margin-right: 1.6em;
        }

        .question-filter {
            white-space: nowrap;
        }

        .question-filter input[type="checkbox"] {
            accent-color: #000;
            width: 1.2em;
            height: 1.2em;
            cursor: pointer;
        }

        .not-displayed {
            display: none;
        }
    </style>
    <script>

        // accordéons
        const accordionBtns = document.querySelectorAll(".question");

        accordionBtns.forEach((accordion) => {
            accordion.onclick = function () {
                this.classList.toggle("is-open");

                let content = this.nextElementSibling;

                if (content.style.maxHeight) {
                    //this is if the accordion is open
                    content.style.maxHeight = null;
                } else {
                    //if the accordion is currently closed
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            };
        });

        //filtres
        const themesWhitelist = [];

        function toggleQuestionsForTheme(theme, isToBeDisplayed) {
            const questionsForTheme = document.querySelectorAll(`.question[data-theme="${theme}"]`);
            questionsForTheme.forEach((question) => {
                if (isToBeDisplayed) {
                    question.classList.remove('not-displayed')
                } else {
                    question.classList.add('not-displayed')
                }
            })
        }
        const filterCheckboxes = document.querySelectorAll('.question-filter input[type="checkbox"]');
        filterCheckboxes.forEach((filterCheckBox) => {
            const theme = filterCheckBox.name
            filterCheckBox.addEventListener('change', (event) => {
                if (event.currentTarget.checked) {
                    toggleQuestionsForTheme(theme, true)
                } else {
                    toggleQuestionsForTheme(theme, false)
                }
            })
        })



    </script>

</html>