<!DOCTYPE html>
<html lang="en">

<%- include('../components/head.html.ejs', {sectionTitle: 'accueil' }) %>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G7PT7K" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <%- include('../components/header.html.ejs') %>
            <main>
                <div class="titre-page">
                    <h1>
                        <span>Les <strong>honoraires</strong></span>
                        <br>
                        <strong>du cabinet</strong>
                    </h1>
                </div>
                <header class="illustration-page"
                    style="background-image: url('<%- rootPath %>resources/honoraires.jpg');">

                </header>

                <p style="grid-column: span 12; margin-top: 1em;"><strong><br>Les honoraires du Cabinet sont fixés de
                        manière
                        forfaitaire pour chaque dossier.</strong></p>
                <p style="grid-column: span 12;">Chaque dossier étant différent, le Cabinet étudiera votre situation
                    afin de vous proposer un devis qui soit le plus adapté à votre cas.</p>
                <p style="grid-column: span 12;">Les honoraires du Cabinet sont forfaitaires, et tiennent compte de la
                    nature de l’affaire, de la complexité du dossier ainsi que des diligences à réaliser.</p>
                <p style="grid-column: span 12; margin-bottom: 1em;">Ces forfaits varient généralement de 400 euros H.T.
                    pour les affaires
                    les plus simples à 3.500 euros H.T. pour les dossiers les plus complexes :</p>

                <div class="details-forfaits">
                    <section class="pretty-box">
                        <div class="top-decoration"></div>
                        <h1 class="item">
                            Pour les
                            <br>
                            <strong>contraventions</strong>
                        </h1>
                        <p class="precision">à partir de*</p>
                        <p class="prix">
                            500€
                        </p>
                    </section>
                </div>
                <div class="details-forfaits">
                    <section class="pretty-box">
                        <div class="top-decoration"></div>
                        <h1 class="item">
                            Pour les
                            <br>
                            <strong>délits</strong>
                        </h1>
                        <h2>Ouverture et préparation à l'audition :</h2>
                        <p class="precision">à partir de*</p>
                        <p class="prix">
                            500€
                        </p>
                        <h2>Assistance à l'audience :</h2>
                        <p class="precision">à partir de*</p>
                        <p class="prix">
                            1000€
                        </p>
                    </section>
                </div>
                <div class="details-forfaits">
                    <section class="pretty-box">
                        <div class="top-decoration"></div>
                        <h1 class="item">
                            Pour les
                            <br>
                            <strong>permis annulés</strong>
                        </h1>
                        <h2>commande et analyse de la situation :</h2>
                        <p class="precision">à partir de*</p>
                        <p class="prix">
                            400€
                        </p>
                        <h2>procédure de revalidation du permis :</h2>
                        <p class="precision">à partir de*</p>
                        <p class="prix">
                            1500 €
                        </p>
                    </section>
                </div>
                <p class="cta-contact" style="text-align: center; margin: 5em 0 0 0"><a
                        href="<%- rootPath %>contact.html" class="cta-button"><span>Demander un devis</span></a></p>
                <p style="grid-column: span 12;margin-bottom: 3em;">Des frais de déplacement peuvent également être à
                    prévoir pour couvrir
                    le trajet entre le Cabinet et le Tribunal.<em>*Tarifs hors taxe</em></p>

                <div class="contenu-forfait">
                    <h2>Ce que comprend<br><strong>le forfait</strong></h2>
                    <p>Le forfait proposé comprendra <strong>l’intégralité de votre défense</strong> pour une affaire.
                    </p>
                    <p>Cela inclut :</p>
                    <ul>
                        <li>Les rendez-vous au Cabinet ou par téléphone ;</li>
                        <li>L’ouverture de votre dossier ;</li>
                        <li>L’étude et l’analyse de votre cas ;</li>
                        <li>La mise en place d’une stratégie ;</li>
                        <li>La rédaction de contestations, d’éventuelles conclusions, ou de recours dans le cas de
                            procédures administratives ;</li>
                        <li>La représentation ou l’assistance à l’audience de plaidoiries
                            dans le cas de procédures pénales.</li>
                    </ul>
                    <p>Les frais d’impression, d’envoi de courriers recommandés, d’envoi d’écritures aux
                        juridictions sont également compris dans les forfaits proposés. Seuls les frais de
                        déplacement viendront en supplément et seront calculés au coût réel.</p>
                </div>

                <div class="facilite-paiement">
                    <h2>Paiement possible<br><strong>en plusieurs fois</strong></h2>
                    <p>Le Cabinet tient compte de vos revenus, et de vos éventuelles difficultés financières.</p>
                    <p>Il est parfaitement possible de payer en plusieurs fois.</p>
                    <p>Un échéancier de paiement sera mis en place à l’ouverture du dossier d’un commun accord entre le
                        Cabinet et le Client.</p>
                    <img style="
                    width: 100%;
                    margin-top: 2em;" src="<%- rootPath %>resources/femme-affaires-smiley-au-volant-sa-voiture.jpg"
                        alt="">
                </div>
            </main>
            <%- include('../components/footer.html.ejs') %>
    </body>
    <style>
        h2,
        h1 {
            line-height: 1.2em;
        }

        .competence {
            grid-column: span 3;
            border: solid 1px #000;
            padding: 1.5em 1.5em 2.5em 1.5em;
            position: relative;
        }

        .competence h1 {
            font-weight: bold;
        }

        .competence p {
            font-size: 0.8em;
        }

        .competence a {
            background-color: #000;
            position: absolute;
            right: 0;
            bottom: 0;
            color: #fff;
            padding: 0.1em 0.3em;
            font-size: 1.5em;
        }


        @media (max-width: 750px) {
            .competence {
                grid-column: span 6;
            }
        }


        @media (max-width: 400px) {
            .competence {
                grid-column: span 12;
            }
        }

        .signature {
            grid-column: 7 / span 3;
            grid-row: 4;
            padding: 1em;
            position: relative;
            font-size: 1.7em;
        }

        .signature strong {
            font-family: 'Garamond';
            font-style: italic;
            font-weight: lighter;
        }

        .signature em {
            font-weight: bold;
            font-family: 'Georgia';
        }

        @media (max-width: 750px) {
            .signature {
                grid-column: span 6;
            }
        }


        @media (max-width: 400px) {
            .signature {
                grid-column: span 12;
            }
        }

        .cta-contact {
            grid-column: span 12;
        }

        /* détails forfaits */
        .details-forfaits {
            grid-column: span 4;
        }

        .details-forfaits h1 {
            padding-top: 10px;
            text-transform: uppercase;
            font-size: 1.3em;
            letter-spacing: 0.2em;
        }


        .details-forfaits h2 {
            font-weight: bold;
            font-size: 0.9em;
        }

        .details-forfaits .precision {
            font-size: 0.7em;
        }

        .details-forfaits .prix {
            font-weight: bold;
            font-size: 2.2em;
            margin-top: 0;
        }

        @media (max-width: 750px) {
            .details-forfaits {
                grid-column: span 12;
            }
        }

        li {
            margin-left: 1em;
            margin-top: 2em;
            list-style-type: '◆  ';

        }

        .contenu-forfait h2,
        .facilite-paiement h2 {
            padding-top: 10px;
            text-transform: uppercase;
            font-size: 1.3em;
            letter-spacing: 0.2em;
        }

        .contenu-forfait {
            grid-column: span 6;
        }

        @media (max-width: 750px) {
            .contenu-forfait {
                grid-column: span 12;
            }
        }


        .facilite-paiement {
            grid-column: span 6;
            background-color: #f5f5f5;
            padding: 3em;
        }

        @media (max-width: 750px) {
            .facilite-paiement {
                grid-column: span 12;
            }
        }
    </style>

</html>