<!DOCTYPE html>
<html lang="en">

<%- include('../components/head.html.ejs', {sectionTitle: 'accueil'}) %>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G7PT7K" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include('../components/header.html.ejs') %>
    <main>
        <div class="titre-page">
            <h1>
                <span>Avocat du permis</span>
                <br>
                <strong>de conduire</strong>
            </h1>
        </div>
        <header class="illustration-page" style="background-image: url('resources/zoe_pohin_avocate.jpg');">

        </header>
        <div id="en-bref">
            <div class="pretty-box">
                <div class="top-decoration"></div>
                <div class="item">
                    Nombreuses <strong>années d’expérience</strong> en droit routier
                </div>
                <hr>
                <div class="item">
                    <strong>Honoraires adaptés</strong> à chaque situation
                </div>
                <hr>
                <div class="item">
                    Intervention dans <strong>toute la France</strong>
                </div>
            </div>
        </div>

        <nav id="specialites">
            <% compétencesBlogArticles.slice(0, 6).forEach(compétencesBlogArticle => { %>
            <a href="<%- rootPath + compétencesBlogArticle.filePath %>#"><%= compétencesBlogArticle.title %></a>
            <% }) %>
            <a href="<%- rootPath %>competences.html" class="voir-plus">voir plus</a>
        </nav>

        <section style="
            grid-column: span 12;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            ">
            <h2 id="mobilite-titre" style="font-size: 1.3em; margin-bottom: 1em;">EXERCE PARTOUT<br><strong>EN FRANCE</strong></h2>
            <div id="mobilite-texte">
                <p>Maître Pohin se déplace sur tout le territoire français pour assurer la défense des automobilistes et
                    plaider leur dossier devant les tribunaux compétents.</p>
            </div>
            <div style="height: 400px;" id="mobilite-carte"></div>
        </section>


    </main>
    <%- include('../components/footer.html.ejs') %>
</body>
<style>
    /* En bref */
    #en-bref {
        margin: 10px;
        grid-column: 2 / 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: 750px) {
        #en-bref {
            margin: 0px;
            grid-column: span 12;
        }
    }

    /* Spécialités */
    #specialites {
        grid-column: 8 / 12;
    }

    #specialites > a, #specialites > span {
        display: block;
        background-color: #F1F1F1;
        font-weight: bold;
        margin: 0.7em;
        padding: 0.8em;
    }

    #specialites .voir-plus {
        display: inline-block;
        text-transform: uppercase;
        font-weight: normal;
        background-color: #000;
        color: #fff;
        letter-spacing: 0.2em;
        margin-top: 0;
    }

    @media (max-width: 750px) {
        #specialites {
            grid-column: span 12;
        }
    }

    /* mobilite */
    #mobilite-titre {
        grid-column: 1 / 12; 
    }

    #mobilite-texte {
        grid-column: 1 / 6;
        margin-bottom: 2em;
    }

    #mobilite-carte {
        grid-column: 7 / 13;
        margin-bottom: 2em;
    }
    @media (max-width: 750px) {
        #mobilite-titre {
            grid-column: 1 / 13; 
        }

        #mobilite-texte {
            grid-column: 1 / 13;
        }

        #mobilite-carte {
            grid-column: 1 / 13;
        }
    }
</style>
<script type="text/javascript">var map;
    var marker = [];
    var mapOptions = {
        scrollWheelZoom: false,
        zoomControl: false,
        dragging: false,
        tap: false
    };

    var id = 'mobilite-carte';

    var centerLatLng = [46.852678248531106, 3.161223733836223];
    map = L.map(id, mapOptions).setView(centerLatLng, 5);

    L.tileLayer('https://{s}.tile.jawg.io/jawg-dark/{z}/{x}/{y}{r}.png?access-token=aZ6TOIxuTMu2c9b3QaORORXbJWQbNTPjoPoXFySe3CfU15PniQAjWtralicP08zh', {
        accessToken: 'aZ6TOIxuTMu2c9b3QaORORXbJWQbNTPjoPoXFySe3CfU15PniQAjWtralicP08zh'
    }).addTo(map);

    <% geolocalizedBlogArticles.forEach(geolocalizedBlogArticle => { %>
    marker = L.marker(
        L.latLng(<%= geolocalizedBlogArticle.coordinates.lat %>, <%= geolocalizedBlogArticle.coordinates.lng %>), {});

    marker.addTo(map).on('click', () => {
        window.open("<%- rootPath + geolocalizedBlogArticle.filePath %>");
    });
    <% }) %>

</script>

</html>