<!DOCTYPE html>
<html lang="en">

<%- include('../components/head.html.ejs', {sectionTitle: 'accueil' }) %>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G7PT7K" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <%- include('../components/header.html.ejs') %>
            <main>
                <section id="description-cabinet">
                    <h1 style="
                font-weight: normal;
                font-size: 20px;
                letter-spacing: 7px;
                text-transform: uppercase;
                line-height: 1.4em;
                margin-bottom: 3em;
            ">
                        <span>Le <strong style="
                    padding: 0 0.1em 0 0.4em;
                    font-weight: bold;
                    background-color: white;
                ">cabinet</strong></span>
                        <br>
                        <span style="
                margin-left: 4em;">du droit routier</span>
                    </h1>

                    <p><strong>Zoé Pohin est avocate depuis 2015, et exerce exclusivement en droit
                            routier.</strong></p>
                    <p><strong>Inscrite au Barreau de Paris, elle intervient sur tout le territoire français dans le
                            contentieux lié au permis de conduire, et a déjà plaidé devant plus de 160
                            juridictions.</strong></p>
                    <br>
                    <p>Après avoir suivi un cursus universitaire en droit international au sein de la Faculté de Droit
                        de Poitiers, elle a finalisé sa formation avec l’obtention du Certificat d’Aptitude à la
                        Profession d’Avocat en 2015.</p>
                    <p>En exerçant en tant qu’avocate collaboratrice pendant plus de 8 ans au sein du Cabinet de Laureen
                        SPIRA, spécialisé en droit routier, Zoé Pohin a pu se confronter aux spécificités de la matière,
                        en comprendre les particularités et affiner sa technicité.</p>
                    <p>Cette expérience lui a notamment permis d’acquérir une technique pointue dans les problématiques
                        liées au permis de conduire.</p>
                    <p>En 2023, Zoé Pohin décide de créer sa propre structure. Elle se déplace partout en France pour
                        assurer la défense des intérêts de tous ses clients, particuliers ou sociétés, mis en cause ou
                        victimes. Avocate depuis plus de huit ans, Zoé Pohin continue à exercer sa profession avec
                        passion et détermination, pour que les droits des justiciables soient préservés, et ce, dans le
                        respect des règles déontologiques de la profession. Zoé Pohin parle anglais, espagnol et
                        italien.</p>
                    <br>
                    <p class="info-utile">N’hésitez pas à <strong>contacter</strong> le Cabinet pour toute question
                        relative à votre
                        <strong>permis de conduire</strong>.
                    </p>
                    <p class="info-utile">Afin d’assurer au mieux votre défense, des <strong>rendez-vous en distanciel
                            sont
                            possibles</strong>.</p>
                </section>
                <img id="photo-cabinet" style="width:100%;" src="<%- rootPath %>resources/zoe_pohin_au_tribunal.jpg"
                    alt="Zoé pohin dans les couloirs du tribunal">
                <!-- <p style="display:block;grid-column:10/13; grid-row:2/6;font-family: 'Lora';">Je jure comme Avocat d'exercer mes fonctions avec <strong>dignité</strong>, <strong>conscience</strong>, <strong>indépendance</strong>, <strong>probité</strong> et <strong>humanité</strong>.</p> -->
                <p id="cta-contact" style="text-align: center; margin: 3em 0"><a href="<%- rootPath %>contact.html"
                        class="cta-button"><span>Contacter le
                        cabinet</span></a></p>
            </main>
            <%- include('../components/footer.html.ejs') %>
    </body>
    <style>
        .info-utile {
            border-left: solid 1px #000;
            padding-left: 1em;
        }

        #description-cabinet {
            grid-column: 1 / 6;
            grid-row: 1 / 6;
        }

        #photo-cabinet {
            grid-column: 8/12;
            grid-row: 1/4;
        }

        #cta-contact {
            grid-column: 7/13;
        }

        @media (max-width: 750px) {

            #description-cabinet {
                grid-column: span 12;
                grid-row: 1;
            }

            #photo-cabinet {
                grid-column: span 12;
                grid-row: 3;
            }

            #cta-contact {
                grid-column: span 12;
                grid-row: 2;
            }
        }
    </style>

</html>