<!DOCTYPE html>
<html lang="en">

<%- include('../components/head.html.ejs', {sectionTitle: 'accueil' }) %>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G7PT7K" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <%- include('../components/header.html.ejs') %>
            <main>
                <section id="description-cabinet" style="grid-column: span 12;">
                    <h1 style="
                font-weight: normal;
                font-size: 20px;
                letter-spacing: 7px;
                text-transform: uppercase;
                line-height: 1.4em;
                margin-bottom: 3em;
            ">
                        <span><strong style="
                    padding: 0 0.1em 0 0.4em;
                    font-weight: bold;
                    background-color: white;
                ">mentions</strong></span>
                        <br>
                        <span style="
                margin-left: 4em;">Légales</span>
                    </h1>
                    <h2>Contact</h2>
                    <p>
                        Zoé Pohin, Avocat au Barreau de Paris
                        <br>
                        7 rue Brunel, 75017 Paris
                        <br>
                        Téléphone 01 79 35 31 99
                        <br>
                        Email : contact@avocat-pohin.fr
                        <br>
                        Directrice de la publication : Maître Zoé Pohin
                    </p>
                    <h2>Hébergement</h2>
                    <p>
                        GitLab, Inc., la société mère de GitLab France SAS.
                        <br>
                        Le bureau de GitLab, Inc. est situé au 268 Bush Street #350 San Francisco, CA 94104-3503,
                        États-Unis d'Amérique. Adresse e-mail: legal@gitlab.com.
                        <br>
                        GitLab France SAS (Numéro d'identification fiscale : FR52899797492) est une société par actions
                        simplifiée au capital de 10 000,00 €.
                        <br>
                        Siège social : 57 RUE D'AMSTERDAM 75008 PARIS 8
                        <br>
                        Numéro de registre du commerce: 899797492.
                        <br>
                        Numéro de téléphone: (415 ) 761-1791.
                        <br>
                        Directeur général: James John Gladen.
                    </p>
                    <h2>Médiateur de la consommation de la profession d'avocat</h2>
                    <p>
                        Mme Carole Pascarel
                        <br>
                        Adresse : 180 boulevard Haussmann, 75008 Paris
                        <br>
                        Adresse électronique : mediateur-conso@mediateur-consommation-avocat.fr
                        <br>
                        Site Internet : <a
                            href="https://mediateur-consommation-avocat.fr">https://mediateur-consommation-avocat.fr</a>
                    </p>

                    <h2>Utilisation du site et propriété intellectuelle</h2>
                    <p>
                        L'utilisateur dispose d'une licence d'usage du contenu du présent site (interdiction de
                        reproduire le contenu dudit site pour un usage collectif, sur quelconque support, même par voie
                        électronique). L'utilisateur dispose ainsi uniquement de l'autorisation de consulter le site et
                        son contenu.
                        <br>Tout contenu du site est propriété exclusive de Maître Zoé Pohin et protégé, à ce titre, par
                        le droit de la propriété intellectuelle.
                    </p>
                    <h2>Politique de confidentialité</h2>
                    <h3>Loi informatique et libertés</h3>
                    <p>
                        Conformément à l'article 32 de la loi Informatique et libertés du 6 janvier 1978 modifiée,
                        l'utilisateur est informé que les informations qu'il communique par les formulaires présents sur
                        le site www.avocat-pohin.fr sont nécessaires pour répondre à sa demande et sont destinées aux
                        services en charge de répondre à sa demande à des fins de suivi de cette demande.</p>
                    <p>
                        Conformément aux dispositions des articles 39 et 40 de la loi « Informatique et Libertés » du 6
                        janvier 1978 modifiée en 2004, l'utilisateur bénéficie d'un droit d'accès, de limitation, de
                        rectification, de mise à jour et d'effacement des informations qui le concernent, qu'il peut
                        exercer en s'adressant à Maître Zoé Pohin par courrier ou courriel. </p>
                    <p>
                        Conformément aux dispositions de l'article 38 de la loi « Informatique et Libertés » du 6
                        janvier 1978 modifiée en 2004, l'utilisateur peut également s'opposer, pour des motifs légitimes
                        à ce que ses données fassent l'objet d'un traitement et sans motif et sans frais, à ce que ses
                        données soient utilisées à des fins de prospection commerciale.
                        Maître Zoé Pohin s'engage à ne pas communiquer les données des utilisateurs que ce soit dans ou
                        en dehors de l'Union Européenne.
                    </p>
                    <h3>Règlement européen Général sur la Protection des Données</h3>
                    <p>
                        Le présent site respect les dispositions du RGPD.
                        En application des articles 23 et 14 du Règlement européen Général sur la Protection des Données
                        (2016/679) et de l'article 32 de la loi informatique et Libertés du 6 janvier 1978 modifiée, le
                        directeur de publication du site informe l'utilisateur que :<br>
                        Le responsable du fichier est Maître Zoé Pohin ;
                    <ul>
                        <li>L'ensemble de ses données personnelles sont protégées dans le cadre du traitement de son
                            dossier, qu'il s'agisse d'un dossier juridique, judiciaire ou d'arbitrage, pour la
                            protection de
                            sa vie privée ;</li>
                        <li>Ses données sont traitées et conservées par Maître Zoé Pohin, dès sa prise d'attache, y
                            compris
                            pour le simple établissement d'un devis ou lors de la prise d'un rendez-vous. Ses données
                            seront
                            conservées pendant une période 'un an dans l'hypothèse où le rendez-vous ne serait pas
                            honoré ;</li>
                        <li>Ses données sont protégées dans un registre, par des locaux et un système informatique
                            protégés
                            et sécurisés ;</li>
                        <li>Dans tous les autres cas, elles seront conservées pendant un délai de cinq années à compter
                            du
                            dernier acte juridique ou judiciaire ;</li>
                        <li>L'utilisateur a la faculté de former une réclamation auprès de la CNIL dans l'hypothèse où
                            il
                            considèrerait que ses données n'ont pas été protégées.</li>
                    </ul>
                    </p>

                </section>
                <p style="grid-column: span 12;text-align: center;" id="cta-contact"
                    style="text-align: center; margin: 3em 0"><a href="<%- rootPath %>contact.html"
                        class="cta-button"><span>Contacter le
                            cabinet</span></a></p>
            </main>
            <%- include('../components/footer.html.ejs') %>
    </body>
    <style>
        h2 {
            font-size: 1.4em;
            margin-top: 1em;
        }
    </style>

</html>