.article-content h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 1.5em 0;
}

.article-content h2 {
    font-size: 1.25em;
    font-weight: bold;
    margin: 1em 0;
}

.article-content h3 {
    font-size: 1.15em;
    font-weight: bold;
    margin: 1em 0;
}

.article-content .panneau-info {
    padding: 1.5em;
    background-color: #eee;
    margin: 2em 0;
}

.article-content p + li {
    margin-top: 1em;
}
.article-content li {
    margin-left: 1em;
    margin-top: 0.2em;
    list-style-type: '◆ ';
}

.article-content blockquote {
    margin: 1em 1.5em;
    padding-left: 1em;
    border-left: solid 1px #000;
    color: #999;
}

/* notion rich styles heavily inspired by : https://samuelkraft.com/blog/building-a-notion-blog-with-public-api */
.bold {
    font-weight: bold;
  }
  
  .code {
    font-family: monospace;
    background-color: rgb(242, 242, 242);
    padding: 2px 4px;
    border-radius: 2px;
  }
  
  .italic {
    font-style: italic;
  }
  
  .strikethrough {
    text-decoration: line-through;
  }
  
  .underline {
    text-decoration: underline;
  }