body {
	font-family: 'Open Sans', sans-serif;
	color: #000000;
}

p {
	margin-top: 1em;
	line-height: 1.3em;
}

a {
	color: #000000;
	text-decoration: none;
}

em {
	font-style: italic;
}

a:visited {
	color: #000000;
}

body main {
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;
	padding: 0 50px;
}

@media (max-width: 750px) {
	body main {
		padding: 10px;
	}
}

/* */

strong {
	font-weight: bold;
}

/* Bandeau d'illustration */

.illustration-page {
	position: relative;
	background-size: cover;
	aspect-ratio: 2 / 1;
	grid-column: 3 / 13;
	grid-row: 1;
	z-index: 1;
}

.titre-page {
	grid-column: 2 / 13;
	grid-row: 1;
	z-index: 2;
	display: flex;
	align-items: end;
}

.titre-page>h1 {
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 7px;
	text-transform: uppercase;
	line-height: 1.38em;
	margin-bottom: 3em;
}

.titre-page>h1>strong {
	padding: 0 0.1em 0 0.4em;
	margin-left: 80px;
	font-weight: bold;
	background-color: white;
}

@media (max-width: 750px) {
	.illustration-page {
		grid-column: 1 / 13;
		grid-row: 1;
		margin: 0 -10px;
	}

	.titre-page {
		grid-column: 1 / 13;
	}
}



/* jolies petites boites */
.pretty-box {
	grid-column: auto / span 6;
	border: 1px solid #707070;
	position: relative;
	text-align: center;
	background: #fff;
	padding: 1em 0;
}

.pretty-box .item {
	padding: 1em 1.5em;
}

.pretty-box>hr {
	width: 30%;
	border-top: none;
	border-color: #707070;
}

.pretty-box>.top-decoration {
	width: 8px;
	height: 8px;
	background-color: #000;
	position: absolute;
	top: -4px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(45deg);
}

/* CTA */

.cta-button {
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.23em;
	font-size: 14px;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}

.cta-button span {
	background-color: #000;
	padding: 0.6em 0.8em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	line-height: 34px;
}
.cta-button:visited {
	color: #fff;
}

/* file links */
.file-link {
    text-align: center;
    margin-top: 4em;
}
.file-link > a {
    padding: 0.6em 0.8em;
    border: solid black 1px;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.13em;
}

/* tables */

td {
	border: solid 1px #ccc;
	padding: 0.5em;
	white-space: pre-wrap;
}