<footer id="main-footer" style="
display: flex;
flex-direction: column;
justify-items: center;
align-items: stretch;
margin-top:6em">
<hr style="
    border: 0;
    border-top: 1px solid #C9C9C9;
    margin: 1.5em 10%;
    ">
<address style="
        display: flex;
        justify-content: center;
        font-size: 20px;
    ">
    <a style="font-weight: bold;" href="tel:+33179353199"><i class="fa-solid fa-phone"></i>  01 79 35 31 99</a>
    <a style="margin-left: 25px;" href="https://www.instagram.com/pohin.avocat/"><i
            class="fa-brands fa-instagram"></i></a>
    <a style="margin-left: 10px;" href="https://www.linkedin.com/in/zoé-pohin-326617a4/"><i
            class="fa-brands fa-linkedin-in"></i></a>
</address>
<nav style="
        margin: 2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* column-gap: 80px; */
        padding-bottom: 3em;
        font-size: 16px;
    ">
    <a href="<%- rootPath %>le-cabinet.html">Le cabinet</a>
    <a href="<%- rootPath %>competences.html">Compétences</a>
    <!-- <a href="<%- rootPath %>decisions.html">Décisions</a> -->
    <a href="<%- rootPath %>honoraires.html">Honoraires</a>
    <a href="<%- rootPath %>foire-aux-questions.html">Faq</a>
    <a href="<%- rootPath %>contact.html">Contact</a>
    <a href="<%- rootPath %>mentions-legales.html">Mentions légales</a>
</nav>
<div style="display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 3em 0;">
    <a href="<%- rootPath %>"><img style="width: 50px;" src="<%- rootPath %>resources/logo-mini.svg"  alt="Logo miniature de Zoé pohin, avocat à la cours"></a><span
        style="margin-left: 1em; font-size: 0.9em; color: #AFAFAF;">©Zoé Pohin, tous droits réservés,
        2023</span>
</div>
</footer>
<style>

#main-footer>nav>a {
        margin: 0 1em;
    }
</style>