<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5G7PT7K');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoé pohin avocate - <%= sectionTitle %>
    </title>
    <link rel="icon" href="<%- rootPath %>/resources/favicon.png">
    <link rel="stylesheet" href="<%- rootPath %>css/reset.css">
    <link rel="stylesheet" href="<%- rootPath %>css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Open+Sans:wght@300;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <meta name="google-site-verification" content="mGa0h8azzhnxRhslBJgo0pCvSOCnwkq8i7OrFF48GMU" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <% if (typeof additionalStyles !== 'undefined') { %>
        <% additionalStyles.forEach(additionalStyleSheet => { %>
            <link rel="stylesheet" href="<%- rootPath %>css/<%- additionalStyleSheet %>">
        <% }) %>
    <% } %>
    
    <%- process.env.ANALYTICS_SCRIPT %>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            [...document.querySelectorAll('.contact-email')].forEach(function (contactAnchor) {
                contactAnchor.setAttribute("href", "mailto:".concat(atob("<%= emailBase64 %>")));
                contactAnchor.innerHTML = contactAnchor.innerHTML.replace(/%contact-email%/, atob("<%= emailBase64 %>"))
            });
        })

    </script>
</head>