<address style="
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 10px 0;
            font-size: 16px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: white;
            z-index: 10000;
            font-size: 1.4em;
            box-shadow: #cecece 0px 0px 9px;
        ">
    <a style="font-weight: bold; margin-left: 10px; flex-grow: 1;" href="tel:+33179353199"><i class="fa-solid fa-phone"></i> 01 79 35 31 99</a>
    <a class="contact-email" style="margin-left: 10px;"><i class="fa-solid fa-envelope"></i></a>
    <a style="margin-left: 10px;" href="https://www.linkedin.com/in/zoé-pohin-326617a4/"><i
            class="fa-brands fa-linkedin-in"></i></a>
    <a style="margin-left: 8px; margin-right: 10px;" href="https://www.instagram.com/pohin.avocat/"><i
            class="fa-brands fa-instagram"></i></a>
</address>
<header id="main-header" style="margin-top: 48px;">
    <nav id="nav-desktop-main" style="
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                /* column-gap: 80px; */
                padding-bottom: 3em;
                padding-top: 30px;
                font-size: 16px;
            ">
        <a href="<%- rootPath %>le-cabinet.html">le cabinet</a>
        <a href="<%- rootPath %>competences.html">compétences</a>
        <a href="<%- rootPath %>decisions.html">décisions</a>
        <!-- <a href="<%- rootPath %>decisions.html">décisions</a> -->
        <a href="<%- rootPath %>index.html"><img style="width: 250px;" src="<%- rootPath %>resources/logo.svg"
                alt="Logo de Zoé pohin, avocat à la cours"></a>
        <a href="<%- rootPath %>honoraires.html">honoraires</a>
        <a href="<%- rootPath %>foire-aux-questions.html">faq</a>
        <a href="<%- rootPath %>contact.html">contact</a>
    </nav>
    <div id="nav-mobile-main" style="
            display: none;
            /* display: flex; */
            justify-content: space-between;
            align-items: center;
            padding: 30px 15px 3em 15px;
    ">
        <div style="text-align: center;flex-grow: 1;">
            <a href="<%- rootPath %>index.html"><img style="width: 250px;" src="<%- rootPath %>resources/logo.svg"
                    alt="Logo de Zoé pohin, avocat à la cours"></a>
        </div>
        <i onclick="showNavMobileOverlay()" style="font-size: 40px;cursor: pointer;" class="fa-solid fa-bars"></i>
    </div>
    <div id="nav-mobile-overlay" style="
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: white;
            z-index: 20000;
            display: none;
            /* display: flex; */
            flex-direction: column;
            overflow: hidden;
        ">
        <div style="
        display: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 15px 2em 15px;
        ">
            <div style="text-align: center;flex-grow: 1;">
                <a href="<%- rootPath %>index.html"><img style="width: 250px;" src="<%- rootPath %>resources/logo.svg"
                        alt="Logo de Zoé pohin, avocat à la cours"></a>
            </div>
            <i onclick="hideNavMobileOverlay()" style="font-size: 40px;cursor: pointer;" class="fa-solid fa-xmark"></i>
        </div>
        <hr style="width: 90%; border: solid 0 #C9C9C9;
        border: solid #C9C9C9;
        border-top: 1px;">
        <nav style="flex-grow:1;display:flex; flex-direction:column; justify-content: space-evenly;">
            <a href="<%- rootPath %>le-cabinet.html">le cabinet</a>
            <a href="<%- rootPath %>competences.html">compétences</a>
            <a href="<%- rootPath %>decisions.html">décisions</a>
            <!-- <a href="<%- rootPath %>decisions.html">décisions</a> -->
            <a href="<%- rootPath %>honoraires.html">honoraires</a>
            <a href="<%- rootPath %>foire-aux-questions.html">faq</a>
            <a href="<%- rootPath %>contact.html">contact</a>
        </nav>
    </div>
</header>
<style>
    #main-header nav a {
        font-size: 14px;
        letter-spacing: 3.2px;
        text-transform: uppercase;
        opacity: 1;
    }

    @media (max-width: 750px) {
        #nav-desktop-main {
            display: none !important;
        }

        #nav-mobile-main {
            display: flex !important;
        }
    }

    #nav-mobile-overlay a {
        text-align: center;
        font-size: 22px !important;
    }
</style>
<script>
    function showNavMobileOverlay() {
        document.getElementById('nav-mobile-overlay').style.display = "flex";
    }

    function hideNavMobileOverlay() {
        document.getElementById('nav-mobile-overlay').style.display = "none";
    }
</script>