<!DOCTYPE html>
<html lang="en">

<%- include('../components/head.html.ejs', {sectionTitle: article.title, additionalStyles: ['article-content.css'] }) %>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="" https://www.googletagmanager.com/ns.html?id=GTM-5G7PT7K"" height="" 0"" width="" 0""
                style="" display:none;visibility:hidden""></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <%- include('../components/header.html.ejs') %>
            <main>
                <div style="grid-column: span 12;">
                    <div class="titre-page">
                        <h1>
                            <%= article.title %>
                        </h1>
                    </div>
                    <section class="article-content">
                        <%- article.html %>
                        <p id="cta-contact" style="text-align: center; margin: 3em 0"><a href="<%- rootPath %>contact.html"
                            class="cta-button"><span>Contactez le
                            cabinet</span></a></p>
                    </section>
                </div>
            </main>
            <%- include('../components/footer.html.ejs') %>
    </body>
</html>