<!DOCTYPE html>
<html lang="en">

<%- include('../components/head.html.ejs', {sectionTitle: article.title, additionalStyles: ['article-content.css'] }) %>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G7PT7K" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <%- include('../components/header.html.ejs') %>
            <main>
                <div class="titre-categorie">
                    <h1>
                        <span>Les <strong>décisions</strong></span>
                        <br>
                        <strong>du cabinet</strong>
                    </h1>
                </div>
                <header class="illustration-decision" style="background-image: url('<%- article.illustration %>');">
                </header>
                <h2 class="titre-decision">
                    <span>
                        <p class="titre-decision-label">
                            <%= article.tribunal %>
                        </p>
                        <p class="titre-decision-date">
                            <%= moment(article.dateDécision).format('MMMM YYYY') %>
                        </p>
                    </span>
                </h2>
                <a 
                href="<%- rootPath %>decisions.html"
                style="grid-column: span 12;
                font-weight: normal;
                font-size: 17px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                line-height: 1.38em;"><br>&lt; revenir aux décisions</a>

                <h1 style="grid-column: span 12;font-size: 2em;"><strong><br>
                        <%= article.title %>
                    </strong></h1>

                <div style="grid-column: span 12;">
                    <section class="article-content">
                        <%- article.html %>
                            <p id="cta-contact" style="text-align: center; margin: 3em 0"><a
                                    href="<%- rootPath %>contact.html" class="cta-button"><span>Contacter le
                                        cabinet</span></a></p>
                    </section>
                </div>
            </main>
            <%- include('../components/footer.html.ejs') %>
    </body>
    <style>
        /* Bandeau d'illustration */

        .titre-decision {
            aspect-ratio: 1 / 1;
            grid-column: 7 / 11;
            grid-row: 1;
            background-color: #f6f6f6;
            margin: 1em;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .titre-decision>span {
            text-align: center;
            font-weight: normal;
            font-size: 17px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            line-height: 1.38em;
        }

        .titre-decision-label {
            font-weight: bold;
        }

        .illustration-decision {
            position: relative;
            background-size: cover;
            aspect-ratio: 1 / 1;
            grid-column: 3 / 7;
            grid-row: 1;
            z-index: 1;
        }

        .titre-categorie {
            grid-column: 2 / 7;
            grid-row: 1;
            z-index: 2;
            display: flex;
            align-items: end;
        }

        .titre-categorie>h1 {
            font-weight: normal;
            font-size: 20px;
            letter-spacing: 7px;
            text-transform: uppercase;
            line-height: 1.38em;
            margin-bottom: 6em;
        }

        .titre-categorie>h1>span {
            background-color: #fff;
        }

        .titre-categorie>h1>strong {
            padding: 0 0.1em 0 0.4em;
            margin-left: 80px;
            font-weight: bold;
            background-color: white;
        }


        @media (max-width: 750px) {
            .illustration-decision {
                display: none;
            }

            .titre-categorie {
                display: none;
            }

            .titre-decision {
                grid-column: 1 / 13;
                grid-row: 1;
                aspect-ratio: 2 / 1;
            }
        }
    </style>

</html>